*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #18191f;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background: #111;
    animation: animate 1s linear infinite;
    box-shadow: 0 0 50px green,
                0 0 50px deepskyblue;
}

@keyframes animate {
    0% {
        filter: hue-rotate(1deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}